*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height: 110px;
}
.nav-menu-mobile{
    display:none;
}
.menu-logo-mobile{
    display:none;
}

.menu-logo{
    position: relative;
    background:#565555;
    height: 50px;
}
.menu-logo .logo{
    position: absolute;
    top:0px;
    left:7%;
}

.menu-logo nav{
    position: absolute;
    top:10px;
    margin-left:31% ;
    text-decoration: none;
}

.menu-logo nav a{
    text-decoration: none;
    color: #FFFFFF;
    line-height:30px;
    padding: 20px;
}
.menu-logo nav a:hover{
    color:coral;
    font-weight:bold;
}
.menu-logo .icon-header{
    position: absolute;
    top:15px;
    margin-left:85%;
    font-size:20px;
}
.menu-logo .icon-header i{
    padding-left: 10px;
}
.thongbao{
    height:50px;
    top:500px;
    text-align: center;
    line-height:40px;
}

.banner img{ 
    width: 100%;
    height:50%;
}

.column{
    width:20%;
    background-color: white;
    float:left;
}
.san-pham{
    font-weight: bold;
    padding:10px;
    margin: 10px;
    text-align:center;
}
.san-pham .ten{
    text-decoration:;
    font-size:large;
    color:black;

}
.san-pham>img {
    max-width:95%;
    max-height:80%;
    
}
.san-pham .gia {
    color: red;
    font-weight:bold;
    font-size:larger;
    background-color: white;
}
/* footer*/
footer{
    width:100%;
    background: #565555;
    color:white;
}
footer .footer-item{
    width: 30%;
    display: inline-block;
    margin-bottom:30px;

}
footer .footer-item h3 {
    margin :30px 0;
}
footer .link a{
    display: block;
    margin: 5px 0;
}
footer .contact h3{
    margin:20px 6px 0px 8px;;
}
footer .footer-item{
    margin-left: 40px;
}
.btn-all .btn{
    background-color:#F24545;
    margin: 30px 0px;
    margin-left:45%;
    font-size:15px;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius:5px;

}
.btn-all .btn a{
    text-decoration: none;
    color:white;
}
.btn-all .btn a:hover{
    font-weight: bold;
    color:black;
}
.header .nav-bars-btn{
    position:absolute;
    width:28px ;
    height:500px;
    color:white;
    display:none;
}
#nav-menu-mobile li{
    display:none;
}

@media screen and (max-width:740px){
    #menu-dong{
        display: none;
    }
    #nav-menu-mobile{
        display: none;

    }
    #nav-menu-mobile li{
        display: block;
        background-color:#565555;
        border: 1px dashed #FFFFFF;
        padding:64px;
        font-size:20px;
        text-align: center;
    }
    #nav-menu-mobile li a{
        color:#FFFFFF;
    }
    #nav-menu-mobile li a:hover{
        color:coral;
        font-weight:bold;
    }
    .menu-logo{
        display: none;
        position: relative;
        background:#565555;
        height: 80px;
    }
    .menu-logo-mobile{
        background-color:#565555;
        display: block;
        height: 61px;
        padding: 5px;
    }
    .menu-logo-mobile .logo{

    }
    .menu-logo-mobile .menu-left{
        width: 50%;
        float: left;
    }
    .menu-logo-mobile .menu-left i{
                
    }
    .menu-logo-mobile .menu-right{
        font-size:30px;
        width: 50%;
        float: right;       
    }
    .menu-logo-mobile .menu-right #menu-mo,#menu-dong {
        padding-top:10px;
        margin-left: 200px;
    }
    .header .nav-bars-btn{
        position:absolute;
        width:28px ;
        height:28px;
        color:white;
        display:block;
    }
    .menu-logo .logo{
        position: absolute;
        top:0px;
        left:45%;
    }
    
    .menu-logo nav{
        position: absolute;
        top:50px;
        right:17%;
        text-decoration: none;
    }
    
    .menu-logo nav a{
        text-decoration: none;
        color: #FFFFFF;
        line-height:30px;
        padding: 8px;
        font-size: 13px;
    }
    .menu-logo nav a:hover{
        color:coral;
    }
.column{
    width:100%;
    background-color: white;
    float:left;
}
.san-pham{

    font-weight: bold;
    padding:10px;
    margin: 10px;
    text-align:center;
}
.san-pham .ten{
    font-size:large;

    color:black;

}
.san-pham>img {
    max-width:95%
    
}
.san-pham .gia {
    color: red;
    font-weight:bold;
    font-size:larger;
    background-color: white;
}
.btn-all .btn{
    background-color:#F24545;
    margin: 30px 0px;
    margin-left:30%;
    font-size:15px;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius:5px;

}
footer{
    width:100%;
    background: #565555;
    color:white;
}
footer .footer-item{
    width: 100%;
    display: inline-block;
    margin-bottom:30px;

}
footer {
    font-size:13px;
}
footer .link a{
    display: block;
    margin: 5px 0;
}

.thongbao{
    height:60px;
    text-align: center;
    line-height:70px;
    font-size:20px
}
 }